@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,200;8..144,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

:root {
    --background: #ffffff;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #000000;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #eeebeb;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.512);
}

.dark-mode-variables {
    --background: #000099;
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.512);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Serif', serif;

}

body {
    width: 97%;
    background-color: var(--color-background);
    height: 110vh;
    user-select: none;
    color: var(--color-dark);
}

header {

    min-width: 200px;
    width: 100%;
    height: 70px;
}

.heading {
    display: flex;
    justify-content: space-evenly;
}

.heading .companyName {
    position: relative;
    right: 340px;
    font-size: 24px;
    top: 12px;
    font-weight: 200;
    font-family: 'Sacramento', cursive;
    font-size: 38px;
}

.modes {
    display: flex;
    position: relative;
    left: 200px;

}

.dark-mode {
    top: 25px;
    padding: 3px;
    position: relative;
    left: 40px;
}

.material-symbols-outlined:hover {
    cursor: pointer;
    font-variation-settings:
        'FILL' 1,
        'wght' 500,
        'GRAD' 200,
        'opsz' 58
}

.modes .admin {
    position: relative;
    left: 68px;
    bottom: 40px;
    font-size: 12px;
}

aside {
    position: absolute;
    left: 50px;
    width: 210px;
    height: 660px;
}
.material-symbols-outlined{
    display: block;
}
.itemsBar {
    width: 150px;
    height: 660px;
    background-color: #000099;
    text-align: center;
    left: 15px;
    top: 40px;
    position: relative;
    border-radius: 45px;
    border: none;
    color: white;
}

.itemsBar:hover {
    box-shadow: var(--box-shadow);
}

.itemsBar p {
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#toggle{
    display: none;
}
.barContent {
    position: relative;
    top: 50px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.barContent .first {
    font-size: 24px;
}

.barContent .Eigth{
    display: block;
}
.barContent p:hover {
    width: 120px;
    height: 50px;
    padding-top: 12px;
    position: relative;
    left: 15px;
    border: 1px;
    border-radius: 50px;
    background: rgb(86, 120, 244);
    font-size: 20px;
    font-weight: 600;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    ;
}

.orders {
    height: 180px;
    width: 800px;
    position: absolute;
    top: 340px;
    left: 280px;
    border-radius: 50px;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow)
}

.headingOrders {
    position: relative;
    bottom: 40px;
}

.images-people {
    min-width: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}

.images-people img {
    border-radius: 50%;
}

.people {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.people:hover {
    cursor: pointer;
}

.people p {
    font-weight: 800;
    padding-top: 20px;
}

main {
    position: absolute;
    left: 280px;
    margin-top: 10px;
    width: 700px;
    height: 150px;

}

main h1 {
    font-size: 28px;
    color: var(--color-dark);
}

main .monthly-summary {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

.monthly-summary .container-first {
    width: 200px;
    height: 120px;
    border: none;
    border-radius: 25px;
    background: var(--color-white);
    text-align: center;
    padding-top: 35px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);

}

.recent-orders {
   
    min-width: 480px;
    height: 260px;
    width: 900px;
    position: relative;
    top: 520px;
    left: 280px;
    border-radius: 50px;
    background: var(--color-white);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.recent-orders h2 {
    position: relative;
    bottom: 40px;
}

table {
    position: relative;
    bottom: 30px;
    height: 130px;
    width: 100%;
    min-width: 480px;
}

.recent-orders a {
    text-align: center;
    display: block;
    position: relative;
    margin: 1rem auto;
    text-decoration: none;
    top: 20px;
    color: #2399cf;
    text-shadow: 1px 1px 10px rgb(36, 118, 232);
    ;
}

tbody,
tr,
td,
th {
    padding: 14px;
    margin: 15px;
    text-align: center;
    align-items: center;
}

.reminders {
    user-select: none;
    float: right;
    position: relative;
    bottom: 80px;
    height: 600px;
    left: 30px;
}

.reminders h2 {
    position: relative;
    bottom: 20px;
}

.reminder-info {
    display: flex;
    margin-left: 5px;
    justify-content: center;
    flex-direction: column;
}

.reminder-info .reminder1 {
    width: 250px;
    height: 80px;
    margin-top: 10px;

}

ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 0px;
    gap: 10px;
    margin-top: 5%;
    position: relative;
    bottom: 30px;

}

li {
    height: 50px;
    user-select: none;
    padding: 10px 0px 0px 15px;
    font-size: 14px;
    border: none;
    border-radius: 15px;
    background: var(--background);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

li:hover {
    cursor: pointer;
    font-size: 16px;
    background: rgb(237, 91, 115);
    height: 70px;
}

#add-reminder {
    position: relative;
    top: 165px;
    left: 60px;
    width: 180px;
    height: 55px;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    background: #ffffff;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

#add-reminder:hover {
    font-size: 18px;
    cursor: pointer;
    background: rgb(122, 235, 122);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
}

.hidden-reminder {
    display: none;
}

.reminder-info textarea {
    border: none;
    padding: 10px;
    position: relative;
    top: 180px;
    right:  15px;
    width: 250px;
}

.reminder-info button {
    font-size: 28px;
    position: absolute;
    left: 210px;
    width: 40px;
    height: 40px;
    border: none;
    background: white;
}

.reminder-info button:hover {
    font-size: 30px;
    cursor: pointer;
    background: rgb(122, 235, 122);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
.addRemind{
    display: flex;
    align-items: center;
    position: relative;
    top: 180px;
    right: 15px;
    height: 60px;
}
#msg{
    display: none;
    font-size: 12px;
    color: var(--color-dark);
}

